<nav class="navbar navbar-light bg-success">
    <div class="px-4 w-100 d-flex justify-content-between align-items-center mr-">
        <a class="navbar-brand mb-0 h1 text-white" href="/">Tasks</a>
    </div>
</nav>